<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.quuux.boids"
      android:versionCode="1"
      android:versionName="1.0">

  <uses-sdk android:minSdkVersion="7" />
  <uses-feature android:name="android.software.live_wallpaper" />

  <application
     android:debuggable="true" 
     android:label="@string/service_name">

    <activity
       android:name=".BoidsPreferenceActivity"
       android:label="Boids Settings"
       android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <service 
       android:label="@string/service_name" 
       android:name=".BoidsWallpaperService"
       android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
         android:name="android.service.wallpaper"
         android:resource="@xml/boids_wallpaper" />
    </service>
  </application>
</manifest> 

